@page
@model IndexModel
@inject CapstoneProjectRegister_DamAnhBang_WebRazorPage.Service.Service.StudentService StudentService
@{
    ViewData["Title"] = "Home page";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Fullname</th>
            <th>Avater</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>fee</th>
            <th>credit</th>
            <!-- Thêm các cột khác tùy ý -->
        </tr>
    </thead>
    <tbody>
        @foreach (var student in await StudentService.GetAllStudentsAsync())
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Avatar</td>
                <td>@student.Age</td>
                <td>@student.Email</td>
                <td>@student.Phone</td>
                <td>@student.Address</td>
                <td>@student.Fee</td>
                <td>@student.Credit</td>
            </tr>
        }
    </tbody>

</table>
